@font-face {
  font-family: "Chromate-Regular";
  src: url(../resources/Chromate-Regular.otf); }

@font-face {
  font-family: "CaviarDreams";
  src: url(../resources/CaviarDreams.ttf); }

@font-face {
  font-family: "CaviarDreams-Bold";
  src: url(../resources/CaviarDreams_Bold.ttf); }

* {
  margin: 0;
  padding: 0; }

/*-------------NAVBAR-------------*/
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: black;
  height: 50px;
  padding: 0 20px 0 20px; }
  .navbar a {
    text-decoration: none;
    color: white; }
    .navbar a:hover {
      color: blanchedalmond; }
  .navbar .logo {
    margin-right: 50px;
    font-family: Chromate-Regular; }
  .navbar .nav-list {
    list-style: none;
    display: flex;
    gap: 25px;
    font-family: CaviarDreams; }

/*-------------INDEX-------------*/
/* grid container*/
h2 {
  padding: 10px;
  font-family: "CaviarDreams-Bold"; }

.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  justify-content: space-around;
  text-align: center; }
  .flex-container img {
    width: 100%;
    height: auto;
    padding: 10px; }

h6 {
  font-family: "CaviarDreams";
  text-align: center; }

/*-------------CUSTOMIZE-------------*/
/*-------------PRODUCTS-------------*/
.container-products {
  padding: 10px; }

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-family: "CaviarDreams"; }

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 50px;
  padding: 0 20px 0 20px;
  list-style: none; }

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas: "pr1 pr2 pr3 pr4" "pr5 pr6 pr7 pr8" "pr9 pr10 pr11 pr12";
  grid-area: products;
  border: 2px black; }
  .products img {
    width: 200px; }

p {
  color: #5e502c;
  font-family: CaviarDreams; }

/*-------------ABOUT US-------------*/
.about {
  text-align: center;
  padding: 15px 0;
  font-family: CaviarDreams-Bold; }

.presentacion {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .presentacion img {
    width: 360px; }
  .presentacion .p-about {
    width: 500px;
    text-align: center;
    font-size: 25px;
    padding: 20px 0;
    font-family: CaviarDreams;
    align-content: center; }

/*-------------CONTACT US-------------*/
.contact-container {
  display: flex;
  font-family: CaviarDreams;
  padding: 50px;
  gap: 50px; }
  .contact-container .form {
    width: 50vw; }
  .contact-container .contact-info {
    width: 50vw;
    background-color: black;
    color: white;
    padding: 20px;
    flex-wrap: wrap; }
    .contact-container .contact-info .info {
      display: flex; }

/*-------------RESPONSIVE-------------*/
@media (max-width: 550px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
    text-align: center; } }

@media (max-width: 550px) {
  .contact-container {
    flex-direction: column; } }

@media (max-width: 690px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-flow: column;
    grid-template-areas: "pr1 pr2"  "pr3 pr4" "pr5 pr6"  "pr7 pr8"  "pr9 pr10"  "pr11 pr12";
    grid-area: products;
    border: 2px black; } }

@media (max-width: 910px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas: "pr1 pr2 pr3"  "pr4 pr5 pr6"  "pr7 pr8 pr9"  "pr10 pr11 pr12";
    grid-area: products;
    border: 2px black; }
    .products img {
      width: 200px; } }
