@font-face {font-family: "Chromate-Regular";
            src: url(../resources/Chromate-Regular.otf);}

@font-face {font-family: "CaviarDreams";
            src: url(../resources/CaviarDreams.ttf);}

@font-face {font-family: "CaviarDreams-Bold";
            src: url(../resources/CaviarDreams_Bold.ttf);}

*{margin: 0;
  padding: 0;}

/*-------------NAVBAR-------------*/
.navbar{display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: black;
        height: 50px;
        padding: 0 20px 0 20px;
     a{text-decoration: none;
        color: white;
        &:hover{color: blanchedalmond;}}  
     .logo{margin-right: 50px;
                font-family: Chromate-Regular;}
     .nav-list{list-style: none;
                display: flex;
                gap: 25px;
                font-family: CaviarDreams;}}

/*-------------INDEX-------------*/

/* grid container*/ 

.flex-container{display: flex;
                flex-direction: row;
                margin-top: 10px;
                justify-content: space-around;
                text-align: center;
        img{
                width: 100%;
                height: auto;
                padding: 10px;
        }                }


/*-------------CUSTOMIZE-------------*/

/*-------------PRODUCTS-------------*/

/*

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "product-listings products products"
    "product-listings products products"
    "product-listings products products";
}

.product-listings { grid-area: product-listings; }

.products {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
  grid-area: products;
}

      

/*-------------ABOUT US-------------*/

.about{text-align: center;
       padding: 15px 0;
       font-family: CaviarDreams-Bold;}

.presentacion{display: flex;
              justify-content: space-around;
              flex-wrap: wrap;
img{width: 360px;} 
p{width: 500px;
  text-align: center;
  font-size: 25px;
  padding: 20px 0;
  font-family: CaviarDreams;
  align-content: center;}}

/*-------------CONTACT US-------------*/
.contact-container{display: flex;
                   font-family: CaviarDreams;
                   padding: 50px;
                   gap: 50px;
.form{width: 50vw;}
.contact-info{width: 50vw;
              background-color: black;
              color: white;
              padding: 20px;
              flex-wrap: wrap;
.info{display: flex;}}}

/*-------------RESPONSIVE-------------*/

@media(max-width:550px){
        .flex-container{
            flex-direction: column;
        justify-content: center;
text-align: center;}
    }

@media(max-width:550px){
    .contact-container{
        flex-direction: column;}
}